.section{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    grid-template-areas: 
    "Title Title Title Title"
    ". . . .";

    .Title{
        grid-area: Title;
        text-align: center;
    }
}