.section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    grid-template-areas:
      "Title Title Title"
      ". . .";

      .Title{
          grid-area: Title;
          text-align: center;
      }
}